.life-line {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50% !important;
  border: 1.5px solid rgb(221, 221, 221);
  width: 70px;
  height: 70px;
  margin: 10px auto 15px;
}

.life-line-description {
  text-align: center;
  margin: 0 8px;
}
