.question-board {
  margin: 10px 0;
  padding: 20px 32px 30px;
}

.life-lines-wrapper {
  margin: 10px 0;
}

.question-loading {
  text-align: center;
  margin: 50px auto;
}

.selected-option {
  background-color: #fb7a01 !important;
  color: black !important;
}

.correct-answer {
  background-color: #53af0c !important;
  color: black !important;
}
