.drawer {
  @media screen and (min-width: "960px") {
    width: 300px;
    flex-shrink: 0;
  }
}

.drawer-content {
  width: 300px;
}

.score-amount {
  width: 100%;
  padding-left: 30px !important;
  justify-content: left !important;
}
